pydantic==1.10.7
langchain==0.0.174
chromadb
scipy
transformers
sentence_transformers
jupyter
streamlit
python-docx
torch --index-url https://download.pytorch.org/whl/cu117
bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git