langchain
chromadb
transformers
jupyter
streamlit
python-docx
torch --index-url https://download.pytorch.org/whl/cu117
bitsandbytes
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git